<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VulcanEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VulcanEngine.Properties.Settings>
            <setting name="SubpathETLProjectLocation" serializeAs="String">
                <value>ETL\Bin</value>
            </setting>
            <setting name="SubpathVulcanConfigSchemaFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Schemas\VulcanConfig.xsd</value>
            </setting>
            <setting name="SubpathDimensionProjectLocation" serializeAs="String">
                <value>Dimensions\Bin</value>
            </setting>
            <setting name="SubpathVulcanTemplateFolder" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Templates</value>
            </setting>
            <setting name="SubpathTemplateSchemaFile" serializeAs="String">
                <value>VulcanTemplate.xsd</value>
            </setting>
            <setting name="SubpathFactTableProjectLocation" serializeAs="String">
                <value>FactTables\Bin</value>
            </setting>
            <setting name="SubpathTempFolder" serializeAs="String">
                <value>TOOLS\VULCAN\Temp</value>
            </setting>
            <setting name="SubpathDTProjectTemplateFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\ProjectTemplates\DataTransformationsProject.dtproj</value>
            </setting>
            <setting name="SubpathDimensionLibrary" serializeAs="String">
                <value>Dimensions\XML</value>
            </setting>
            <setting name="BreakOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubpathDataWarehouseInitProjectLocation" serializeAs="String">
                <value>DataWarehouseInit\Bin</value>
            </setting>
            <setting name="CleanupFilesOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubpathTestProjectLocation" serializeAs="String">
                <value>Test\Bin</value>
            </setting>
            <setting name="SubpathDefaultPhaseWorkflowFile" serializeAs="String">
                <value>VulcanPhaseworkflows.xml</value>
            </setting>
            <setting name="SubpathVulcanPhaseWorkflowsSchemaFile" serializeAs="String">
                <value>VulcanPhaseWorkflows.xsd</value>
            </setting>
            <setting name="SubpathPhasePluginFolder" serializeAs="String">
                <value>PhasePlugins</value>
            </setting>
            <setting name="SubpathAstPluginFolder" serializeAs="String">
                <value>XmlToAstParserPhase.AstPlugins</value>
            </setting>
            <setting name="SubPathXsltTransformFolder" serializeAs="String">
                <value>XmlXsltTransformPhase.XsltTransforms</value>
            </setting>
        </VulcanEngine.Properties.Settings>
    </applicationSettings>
</configuration>