<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ssis2008Emitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ssis2008Emitter.Properties.Settings>
            <setting name="DetegoPackageConfigurationRoot" serializeAs="String">
                <value>C:\PackageConfigurations</value>
            </setting>
            <setting name="SubpathSsis2008EmitterContent" serializeAs="String">
                <value>Ssis2008Emitter.Content</value>
            </setting>
            <setting name="SubpathPackageConfigurationProjectLocation" serializeAs="String">
                <value>PackageConfigurations</value>
            </setting>
            <setting name="SubpathTableProjectLocation" serializeAs="String">
                <value>Tables</value>
            </setting>
            <setting name="SubpathSchemaProjectLocation" serializeAs="String">
                <value>Schemas</value>
            </setting>
            <setting name="SubpathPrincipalProjectLocation" serializeAs="String">
                <value>Principals</value>
            </setting>
            <setting name="SubpathStaticSourceProjectLocation" serializeAs="String">
                <value>StaticSources</value>
            </setting>
            <setting name="DetegoProjectLocationRoot" serializeAs="String">
                <value>C:\codeplex</value>
            </setting>
            <setting name="SubpathVulcanTemplateFolder" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Templates</value>
            </setting>
            <setting name="SubpathETLProjectLocation" serializeAs="String">
                <value>ETL</value>
            </setting>
            <setting name="SubpathFactTableProjectLocation" serializeAs="String">
                <value>FactTables</value>
            </setting>
            <setting name="SubpathTestProjectLocation" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="SubpathDTProjectTemplateFile" serializeAs="String">
                <value>DataTransformationsProject.dtproj</value>
            </setting>
            <setting name="SubpathTemplateSchemaFile" serializeAs="String">
                <value>VulcanTemplate.xsd</value>
            </setting>
            <setting name="SubpathDimensionProjectLocation" serializeAs="String">
                <value>Dimensions</value>
            </setting>
            <setting name="SubpathDataWarehouseInitProjectLocation" serializeAs="String">
                <value>DataWarehouseInit</value>
            </setting>
        </Ssis2008Emitter.Properties.Settings>
    </applicationSettings>
</configuration>