<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VulcanEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VulcanEngine.Properties.Settings>
            <setting name="SubpathAstPluginFolder" serializeAs="String">
                <value>XmlToAstParserPhase.AstPlugins</value>
            </setting>
            <setting name="SubPathXsltTransformFolder" serializeAs="String">
                <value>XmlXsltTransformPhase.XsltTransforms</value>
            </setting>
            <setting name="SubpathPhasePluginFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubpathDefaultPhaseWorkflowFile" serializeAs="String">
                <value>VulcanPhaseworkflows.xml</value>
            </setting>
        </VulcanEngine.Properties.Settings>
    </applicationSettings>
</configuration>