<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vulcan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Vulcan.Properties.Settings>
            <setting name="SubpathETLProjectLocation" serializeAs="String">
                <value>ETL\Bin</value>
            </setting>
            <setting name="DetegoPackageConfigurationRoot" serializeAs="String">
                <value>C:\PackageConfigurations</value>
            </setting>
            <setting name="SubpathVulcanConfigSchemaFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Schemas\VulcanConfig.xsd</value>
            </setting>
            <setting name="SubpathDimensionProjectLocation" serializeAs="String">
                <value>Dimensions\Bin</value>
            </setting>
            <setting name="SubpathVulcanTemplateFolder" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Templates</value>
            </setting>
            <setting name="SubpathTemplateSchemaFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Schemas\VulcanTemplate.xsd</value>
            </setting>
            <setting name="DetegoProjectLocationRoot" serializeAs="String">
                <value>C:\codeplex</value>
            </setting>
            <setting name="SubpathFactTableProjectLocation" serializeAs="String">
                <value>FactTables\Bin</value>
            </setting>
            <setting name="SubpathTempFolder" serializeAs="String">
                <value>TOOLS\VULCAN\Temp</value>
            </setting>
            <setting name="SubpathDTProjectTemplateFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\ProjectTemplates\DataTransformationsProject.dtproj</value>
            </setting>
            <setting name="SubpathDimensionLibrary" serializeAs="String">
                <value>Dimensions\XML</value>
            </setting>
            <setting name="BreakOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubpathDataWarehouseInitProjectLocation" serializeAs="String">
                <value>DataWarehouseInit\Bin</value>
            </setting>
            <setting name="CleanupFilesOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubpathTestProjectLocation" serializeAs="String">
                <value>Test\Bin</value>
            </setting>
            <setting name="SubpathPreProcessor" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\PreProcessor</value>
            </setting>
            <setting name="SubpathDefaultPhaseWorkflowFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\VulcanPhaseworkflows.xml</value>
            </setting>
            <setting name="SubpathVulcanPhaseWorkflowsSchemaFile" serializeAs="String">
                <value>TOOLS\VULCAN\Common\XML\Schemas\VulcanPhaseWorkflows.xsd</value>
            </setting>
            <setting name="SubpathPhasePluginFolder" serializeAs="String">
                <value>Tools\vulcan\anycpu_d\PhasePlugins</value>
            </setting>
        </Vulcan.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
